body
{
    color: #333;
    text-align: "center";
    font-family: "Arial";
}

#header {
    background: black;
    color: white;
    text-align: "left !important";
    font-family: "Helvetica Neue";
}